body {
    background-image: url("../img/old_map.png");
}

#container{
    padding: 5%;
}

#header {
    background-color: rgb(39, 37, 37);
    justify-content: flex-start;
    color: white;
    font-size: 30px;
    display: flex;
    padding: 10px;
    border-bottom: 5px solid black;

}

#header>img{
    margin-right: 10px;
}


#menu {
    background-image: url("../img/red015.jpg");
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 2%;
}

#menu>.conte{
    display:flex;
    flex-direction: column;
    color: grey;
    align-items: center;
}

#menu>.conte>img {
    width: 55px;
    height: 55px;
}

#menu>.vid{
    display:flex;
    flex-direction: column;
    color: yellow;
    align-items: center;
}

#menu>.vid>img {
    width: 55px;
    height: 55px;
}

#menu>.cont{
    display:flex;
    flex-direction: column;
    color: yellow;
    align-items: center;
}

#menu>.cont>img {
    width: 55px;
    height: 55px;
}

#cuerpo {
    background-image: url("../img/lgrey008.jpg");
    display: flex;
    justify-content: space-between;
    padding: 8%;
    flex-wrap: wrap;
}

#cuerpo > div {
    background-color: white;
    text-align: center;
    width: 30%;
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
}

#cuerpo img {
    width: 100%;
    margin-bottom: 20px;
}

#cuerpo p {
    margin: 0;
}
    

#footer {
    background-color: rgb(39, 37, 37);
    text-align: center;
    color: white;
    border-top: 5px solid black;
    padding: 10px;
}