/*
Transición animada con valores como opacity, transform y transition
*/

/* Reset de márgenes y rellenos para todos los elementos */
* {
    margin: 0px;
    padding: 0px;
}

/* Elimina el subrayado de los enlaces */
a {
    text-decoration: none;
}

/* Cambia el color del enlace a rojo al pasar el cursor sobre él en el submenú */
ul li ul li a:hover {
    color: red;
}

/* Elimina el estilo de lista en los elementos <ul> */
ul {
    list-style-type: none; 
    text-align: center;
}

/* Estilo de los elementos <li>: se muestran en línea y con relleno */
ul li {
    position: relative; /* Posición relativa para el submenú */
    display: inline-block; 
    padding: 20px; 
    
}

/* Estilo del submenú: oculto por defecto */
ul li ul {
    position: absolute; /* Posición absoluta para el submenú */
    top: 100%; /* Se muestra justo debajo del elemento padre */
    left: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease; /* Necesario para que la transición funcione correctamente */
}

/* Estilo de los elementos del submenú */
ul li ul li {
    background-color: #313131; 
    text-align: center; 
    padding: 10px; 
    font-family: Verdana;
    font-size: 0.7em; 
}

/* Muestra el submenú al pasar el cursor sobre el elemento padre */
ul li:hover ul {
    max-height: 200px;
    margin-left: 10%;
}

/* Cambia el fondo del elemento del submenú al pasar el cursor */
ul li ul li:hover {
    background-color: #444; /* Color de fondo más claro */
}

/* Estilo del enlace dentro del submenú */
ul li ul li a {
    color: #fff; /* Color del texto en blanco */
}

/* Estilo de los elementos impares del submenú */
ul li ul li:nth-child(odd) {
    background-color: #363636; /* Fondo alternativo para elementos impares */
}

/* Bordes redondeados para el primer elemento del submenú */
ul li ul li:first-child {
    border-radius: 3px 3px 0 0; /* Bordes superiores redondeados */
}

/* Bordes redondeados para el último elemento del submenú */
ul li ul li:last-child {
    border-radius: 0 0 3px 3px; /* Bordes inferiores redondeados */
}

/* Añade una flecha visual en el primer elemento del submenú */
li ul li:first-child:before {
    content: ' '; /* Contenido vacío para la flecha */
    position: absolute; /* Posición absoluta para colocar la flecha */
    width: 1px; 
    height: 1px; 
    border: 5px solid transparent; /* Borde transparente */
    border-bottom-color: #313131; /* Color de la flecha */
    left: 50%; /* Centra la flecha horizontalmente */
    top: -10px; /* Coloca la flecha arriba del elemento */
    margin-left: -5px; /* Ajuste para centrar la flecha */
}
