
body {
    background-color: #5CA9A5;
    font-family: Arial, sans-serif;
}


#container {
    margin: 20px auto;
    width: 60%;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
}


header h1 {
    text-align: center;
    padding-top: 10px;
    font-size: 1.5em;
}


#articulos {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
}


#bloque1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 80px;
    margin-left: 80px;
    justify-content: space-between;
}

#bloque2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Estilo general para todas las cajas */
div[id^="bloque"] div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}


.caja1, .caja2, .caja3, .caja4, .caja5, .caja6 {
    width: 200px;
    height: 40px;
    border: 2px solid #A3A3A3;
}


.caja1 {
    border-radius: 30px 30px 10px 60px;
}

.caja2 {
    border-radius: 0;
    background-color: #FFFFFF;
}

.caja3 {
    border-radius: 30px;
    box-shadow: inset -4px -45px 20px #A0C4C4;

}

.caja4 {
    border-radius: 30px;
    box-shadow: inset 0px 0px 40px #7de4e4;
}

.caja5 {
    border-radius: 30px;
    background-color: #FFFFFF;
}

.caja6 {
    border-radius: 0;
}


.caja7, .caja8, .caja9, .caja10 {
    width: calc(100% - 20px);
    height: 60px;
    border: 2px solid #A3A3A3;
    margin-left: 10px;
}

.caja7 {
    border-radius: 30px;
    box-shadow: 10px 2px 10px  #7de4e4;
   
}

.caja8 {
    border-radius: 30px;
   
}

.caja9 {
    border-radius: 30px;
    text-shadow: 0px 4px 5px #014646 ;
   
}

.caja10 {
    border-radius: 30px;
    background: linear-gradient(100deg, white,  #096b6b);
   
}


footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 0.9em;
    color: #555;
}
